[submodule "submodules/moonraker"]
	path = submodules/moonraker
	url = https://github.com/Arksine/moonraker
[submodule "submodules/buildroot"]
	path = submodules/buildroot
	url = git@github.com:xblax/flashforge_adm5_buildroot_chroot.git
[submodule "submodules/klipper"]
	path = submodules/klipper
    url = git@github.com:xblax/klipper.git
[submodule "submodules/KlipperScreen"]
	path = submodules/KlipperScreen
	url = git@github.com:consp/KlipperScreen.git
