[include printer.base.cfg] # Base machine setup
[include client.cfg]       # Macros required for Mainsail & Fluidd
[include macros.cfg]       # Custom Macros for ADM5 (Pro)

[extruder]
# calibrated with ADM5, target 215
control = pid
pid_kp = 33.443
pid_ki = 4.372
pid_kd = 63.961

[heater_bed]
# calibrated with ADM5, target 70
control = pid
pid_kp = 74.793
pid_ki = 1.619
pid_kd = 863.863

[input_shaper]
# calibrated with ADM5
shaper_type_x = mzv
shaper_freq_x = 52.5
shaper_type_y = zv
shaper_freq_y = 50
